<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @score.student_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @score.course_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @score.score %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
