<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @student.faculty_id %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag picture_student_path(@student), height: '64' %>
</p>
 
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
